{
  "plugins": ["prettier-plugin-tailwindcss"],
  "bracketSpacing": true,
  "arrayBracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100
}
